html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed!important;
}

body {
  background-color: rgb(255,255,255);
}


@keyframes Fade {
  from {opacity: 1;  transform: translateY(0)}
  to {opacity: 0.1;  transform: translateY(-25%)}
}
.scoreNotice {
  animation: Fade 1s ease-out;
  transform: translate3d(0,0,0);
}

/*.img_container {
  position:relative; 
  top:0; 
  left:0; 
  width:100%; 
  height:100%;
}*/

@keyframes movedown1 {/*move down 1 step*/
  from {  transform: translateY(-100%);}
  to { transform: translateY(0);}
}

@keyframes movedown2 {
  from {  transform: translateY(-200%);}
  to { transform: translateY(0);}
}

@keyframes movedown3 {
  from {  transform: translateY(-300%);}
  to { transform: translateY(0);}
}

@keyframes movedown4 {
  from {  transform: translateY(-400%);}
  to { transform: translateY(0);}
}

@keyframes movedown5 {
  from {  transform: translateY(-500%);}
  to { transform: translateY(0);}
}

@keyframes movedown6 {
  from {  transform: translateY(-600%);}
  to { transform: translateY(0);}
}

@keyframes movedown7 {
  from {  transform: translateY(-700%);}
  to { transform: translateY(0);}
}


@keyframes movedown8 {
  from {  transform: translateY(-800%);}
  to { transform: translateY(0);}
}

.movedown1 {
  animation: movedown1 .25s ease-in-out;
  /*background-color:blue;*/
  /*border-radius: 50%;*/
}

.movedown2 {
  animation: movedown2 .5s ease-in-out;
}

.movedown3 {
  animation: movedown3 .75s ease-in-out;
}

.movedown4 {
  animation: movedown4 1s ease-in-out;
}

.movedown5 {  
  animation: movedown5 1.25s ease-in-out;
}

.movedown6 {  
  animation: movedown6 1.5s ease-in-out;
}

.movedown7 {  
  animation: movedown7 1.75s ease-in-out;
}

.movedown8 {  
  animation: movedown8 2s ease-in-out;
}

.center {
  font-family: sans-serif;
  position: absolute;
  left: 40%;
  top: 10px;
  background: #FAF0E6;
  height: 40px;
  width: 250px;
}

body {
  background: #FAF0E6
}


